@import "tailwindcss";

body{
  scroll-behavior: smooth;
}

@theme {
  --color-primary: #00FFB9;
  --color-primary-hover: #00cc94;
  --color-primary-light: #ccffef;
  --color-secondary: #000028;
  --color-secondary-hover: #000040;
  --color-secondary-light: #1a1a3d;
  --color-background: #f9fafb;
  --color-card: #ffffff;
  --color-content: #374151;
  --color-content-muted: #6b7280;
  --color-content-dark: #111827;
  --color-status-error: #ef4444;
  --color-status-success: #10b981;
  --color-status-warning: #f59e0b;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-content);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out;
}